@import "variables";

@mixin simpleSpace {
  $spacings: (
    0,
    .25rem,
    .5rem,
    1rem,
    1.5rem,
    2rem,
  ) !default;

  $prefixes: (
    p : padding,
    px : (padding-left, padding-right),
    py : (padding-top, padding-bottom),
    pt : padding-top,
    pr : padding-right,
    pb : padding-bottom,
    pl : padding-left,
    m : margin,
    mx : (margin-left, margin-right),
    my : (margin-top, margin-bottom),
    mt : margin-top,
    mr : margin-right,
    mb : margin-bottom,
    ml : margin-left,
  ) !default;

  @each $attr-short, $attr-list in $prefixes {
    @each $space in $spacings {
      .#{$attr-short}-#{ index(($spacings), $space)-1 } {
        @each $attr in $attr-list {
          #{$attr}: #{$space} !important;
        }
      }

    }

    .#{$attr-short}-auto {
      @each $attr in $attr-list {
        #{$attr}: auto !important;
      }
    }
  }
}

@include simpleSpace();
